<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="public/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="public/js/images-grid.js"></script>
    <link rel="stylesheet" href="public/css/images-grid.css">
    <link rel="shortcut icon" href="logo.png" type="image/png">
</head>
<body>
    <div id="headd">
        <div id="textcont">СЬЛРЖАЛСЧ цитатник</div>
    </div>
    <div id="butt-cont"></div>
    <a href="create"><button id="add" ><span>+</span></button></a>
    <a href="https://github.com/RedMaun/quote-site"><button id="github">
        <img src="https://raw.githubusercontent.com/gilbarbara/logos/master/logos/github-icon.svg">
    </button></a>
    <div id="feed">
        <div id="space"></div>
        {{#each list}}
        <div class="cont">
            <div class="title-row">
                <a class="id" href="/index/{{minus (minus (length @root.list) 1) @index}}">#{{minus (minus (length @root.list) 1) @index}}</a>
                <div class="date">{{da}}</div>
            </div>
            <div class="content">
                {{#if audio}}
                <audio controls class="au" >
                    <source src="{{audio}}" type="audio/mp3">
                </audio>
                <p style="color: rgb(189, 189, 189);">*если плеер выглядит как говно - юзайте хром!</p>
                {{else}}
                    {{#if (isArray qu)}} 
                        {{#each qu}}
                            {{#if (isObject this)}}
                                {{!-- {{#or (not (eq element.text '')) b (not (eq (length element.images) 0)) }} --}}
                                {{#if element.name}}
                                    <div class="nname-cont" style="margin-left:{{gap}}px">
                                {{else}}
                                    <div class="nname-cont" style="padding: 0px;">
                                {{/if}}
                                        {{#if (eq gap 0)}}
                                            {{#if element.name}}
                                                <a href="{{element.link}}" class="nname" style="display: inline-bloc">{{element.name}}</a>
                                            {{/if}}
                                            {{#if element.text}}
                                                <div style="display: inline-block;height: auto; display: flex; white-space: pre-line; font-size: 16px !important;"><div class="el-text" style="align-self: center; white-space: pre-line; font-size: 16px !important;">{{element.text}}</div></div>
                                            {{/if}}
                                            {{#if element.images}}
                                                <div class="gallery" style="margin-top: 5px;" id="{{_id}}">{{#each element.images}}<div style="color: transparent">{{this}}</div>{{/each}}</div>
                                            {{/if}}
                                        {{!-- {{else if (gt gap 29)}}
                                            <details class="det" style="margin-left: {{gap}}px;" onclick="bebr(this, 0)">
                                                <a class="nname" href="{{element.link}}" style="display: inline-block; color: #919191;">{{element.name}}</a>
                                                {{#if element.text}}
                                                    <div style="display: inline-block;height: auto; display: flex; white-space: pre-line"><div style="align-self: center;">{{element.text}}</div></div>
                                                {{/if}}
                                                {{#if element.images}}
                                                    <div class="gallery" style=";margin-top: 5px;" id="{{_id}}">{{#each element.images}}<div>{{this}}</div>{{/each}}</div>
                                                {{/if}}
                                                <summary onclick="bebr(this, 1)">Спойлер</summary>
                                            </details> --}}
                                        {{else}}
                                            {{#if element.name}}
                                                <a class="nname" href="{{element.link}}" style="display: inline-block;">{{element.name}}</a>
                                            {{/if}}
                                            {{#if element.text}}
                                                <div style="display: inline-block;height: auto; display: flex; white-space: pre-line; font-size: 16px !important;"><div class="el-text" style="align-self: center; font-size: 16px !important;">{{element.text}}</div></div>
                                            {{/if}}
                                            {{#if element.images}}
                                                <div class="gallery" style="margin-top: 5px;" id="{{_id}}">{{#each element.images}}<div style="color: transparent">{{this}}</div>{{/each}}</div>
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                {{!-- {{/or}} --}}
                            {{else}}
                                <p class="el-text" style="padding-bottom: 20px; display: inline-block;height: auto; display: flex; white-space: pre-line; font-size: 16px !important;">{{this}}</p>
                            {{/if}}
                        {{/each}}
                    {{else}}
                        {{#if (not (eq (length qu) 0))}}
                            {{#if images}}
                                <div class="el-text" style="white-space: pre-line !important; padding-bottom: 5px;font-size: 16px !important;">{{qu}}</div>
                            {{else}}
                                <div class="el-text" style="padding-bottom: 20px; display: inline-block;height: auto; display: flex; white-space: pre-line; font-size: 16px !important;">{{qu}}</div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
                {{#if images}}
                    <div class="gallery" id="{{minus (minus (length @root.list) 1) @index}}">{{#each images}}<div style="color: transparent">{{this}}</div>{{/each}}</div>
                {{/if}}
            </div>
            <div class="bottom-row">
                {{#if link}}
                <a href="{{link}}" class="author">- {{au}}</a>
                {{else}}
                <div class="author">- {{au}}</div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
    <script src="public/js/main.js"></script>
</body>
</html>